---
import type { FAQ } from "../data/data.type";
import RichText from "./RichText.astro";

interface Props {
  data: ReadonlyArray<FAQ>;
}

const { data } = Astro.props;
---

<ul
  class="accordion flex flex-col gap-4 [&_a]:dark:text-red-600 [&_a]:text-red-400"
>
  {
    data.map((faq: FAQ) => (
      <li class:list={["flex", "flex-col", "accordion-item"]}>
        <header class="accordion-header rounded-lg flex flex-row justify-between align-middle cursor-pointer gap-x-2 p-4 select-none">
          <span class="text-xl">{faq.title}</span>
          <span class="grid grid-cols-1 place-content-center">
            <i class="ph ph-caret-down transition-transform duration-150" />
          </span>
        </header>
        <div class="accordion-body px-4 mt-2 animate__animated animate__fadeIn">
          <RichText text={faq.body} />
        </div>
      </li>
    ))
  }
</ul>

<script>
  function init() {
    const tuples = document.querySelectorAll(".accordion-item");

    tuples.forEach((tuple) => {
      const header = tuple.querySelector(".accordion-header");
      const body = tuple.querySelector(".accordion-body");

      header?.addEventListener("click", () => {
        tuple.classList.toggle("active");
        body?.classList.toggle("hidden");

        tuples.forEach((t) => {
          if (t !== tuple) {
            t.classList.remove("active");
          }
        });
      });
    });
  }

  document.addEventListener("astro:page-load", init);
</script>
<style>
  li.active > .accordion-header {
    @apply bg-red-100 dark:bg-red-400;
  }

  li:not(.active) > .accordion-header {
    @apply bg-red-50 dark:bg-red-800;
  }

  li.active i {
    @apply transform rotate-180;
  }

  li.active > .accordion-body {
    @apply block;
  }

  li:not(.active) > .accordion-body {
    @apply hidden;
  }
</style>
