<button
  id="darkModeToggler"
  aria-hidden="true"
  class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg select-none cursor-pointer"
>
  <i 
    id="darkButton"
    class="ph ph-moon block dark:hidden text-dark-background dark:fill-light-background text-center text-xl w-[30px] h-[30px]"
  ></i>
  <i
    id="lightButton"
    class="ph ph-sun hidden dark:block text-light-background dark:fill-light-background w-5 h-5  text-center text-xl w-[30px] h-[30px]"
  ></i>
</button>
<script>
  function init() {
    document
      .getElementById("darkModeToggler")
      ?.addEventListener("click", () => {
        const isDarkMode = !!localStorage.getItem("dark");

        if (isDarkMode) {
          html?.classList.remove("dark");
          localStorage.removeItem("dark");
          return;
        }

        html?.classList.add("dark");
        localStorage.setItem("dark", "true");
      });

    const html = document.documentElement;
  }

  document.addEventListener("astro:page-load", init);
</script>
