---
import { DATA } from "../data/data";
import DarkModeToggleButton from "./DarkModeToggleButton.astro";
---

<nav
  id="top"
  class="flex flex-wrap items-center justify-between w-full px-8 py-5 md:px-16 md:py-10 text-lg text-dark-background dark:text-light-background"
>
  <div class="w-full max-w-[150px] sm:max-w-[180px] md:max-w-[200px]">
    <a href="/#top" class="h-10">
      <img
        src="/logo.svg"
        alt=`Logo of ${DATA.title}`
        class="brightness-100 dark:invert"
      />
    </a>
  </div>
  <svg class="h-6 w-6 cursor-pointer xl:hidden block"> </svg>
  <button id="menu-button" class="aspect-square block xl:hidden">
    <i class="ph ph-list text-3xl"></i>
  </button>
  <div
    class="hidden py-3 xl:py-0 w-full xl:flex xl:items-center xl:w-auto"
    id="menu"
  >
    <ul
      class="flex justify-evenly gap-2 text-sm flex-col lg:flex-row font-bold"
    >
      {
        !!DATA.schedules.length && (
          <li class="mx-auto">
            <a
              href="/schedule#top"
              class="px-3 h-full cursor-pointer grid place-content-center hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg w-fit"
            >
              Schedule
            </a>
          </li>
        )
      }
      {
        !!DATA.speakers.length && (
          <li class="mx-auto">
            <a
              href="/#speakers"
              class="px-3 h-full cursor-pointer grid place-content-center hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg w-fit"
            >
              Speakers
            </a>
          </li>
        )
      }
      {
        !!DATA.raffles.length && (
          <li class="mx-auto">
            <a
              href="/raffles#top"
              class="px-3 h-full cursor-pointer grid place-content-center hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg w-fit"
            >
              Sorteos
            </a>
          </li>
        )
      }
      {
        !!DATA.faq.length && (
          <li class="mx-auto">
            <a
              href="/#faq"
              class="px-3 h-full cursor-pointer grid place-content-center hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg w-fit"
            >
              FAQ
            </a>
          </li>
        )
      }
      <li
        class="mx-auto cursor-pointer grid place-content-center hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg w-fit"
      >
        <noscript
          ><a
            href="https://www.eventbrite.es/e/entradas-biznagafest-2024-742690716927"
            rel="noopener noreferrer"
            target="_blank">Comprar entradas en Eventbrite</a
          ></noscript
        >
        <button
          class="text-white p-2 rounded-lg bg-green-600 hover:bg-green-400 dark:bg-blue-600 dark:hover:bg-blue-400 transition-colors"
          id="eventbrite-widget-modal-trigger-742690716927"
          type="button">Comprar entradas</button
        >
        <li class="grid place-content-center">
          <DarkModeToggleButton />
        </li>
      </li>
    </ul>

    <script>
      function listenBurgerButton() {
        const button = document.querySelector("#menu-button"); // Hamburger Icon
        const menu = document.querySelector("#menu"); // Menu
        button?.addEventListener("click", () => {
          menu?.classList.toggle("hidden");
          const isOpen = button.attributes.getNamedItem("expanded");

          if (isOpen) {
            button.removeAttribute("expanded");
            button.innerHTML = `<i class="ph ph-list text-3xl"></i>`;
            return;
          } else {
            button.setAttribute("expanded", "true");
            button.innerHTML = `<i class="ph ph-x text-3xl"></i>`;
          }
        });
      }

      function listenTicketsWidget() {
        var exampleCallback = function () {
          console.log("Pedido completo");
        };

        const eventListener = () => {
          (window as any).EBWidgets.createWidget({
            widgetType: "checkout",
            eventId: "742690716927",
            modal: true,
            modalTriggerElementId:
              "eventbrite-widget-modal-trigger-742690716927",
            onOrderComplete: exampleCallback,
          });
        };

        window.removeEventListener("DOMContentLoaded", eventListener);
        window.addEventListener("DOMContentLoaded", eventListener);
      }

      function init() {
        listenBurgerButton();
        listenTicketsWidget();
      }

      init();

      document.addEventListener("astro:after-swap", () => init());
    </script>
  </div>
</nav>
