---
import { DATA } from "../data/data";
import DarkModeToggleButton from "./DarkModeToggleButton.astro";
import If from "./utils/If.astro";
---

<nav
  id="top"
  class="flex flex-wrap items-center justify-between w-full px-8 py-5 md:px-16 md:py-10 text-lg text-dark-background dark:text-light-background"
>
  <div class="w-full max-w-[150px] sm:max-w-[180px] md:max-w-[200px]">
    <a href="/#top" class="h-10">
      <img
        src="/logo.svg"
        alt=`Logo of ${DATA.title}`
        class="brightness-100 dark:invert"
      />
    </a>
  </div>
  <svg class="h-6 w-6 cursor-pointer xl:hidden block"> </svg>
  <svg
    xmlns="<http://www.w3.org/2000/svg>"
    id="menu-button"
    class="h-6 w-6 cursor-pointer xl:hidden block"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 6h16M4 12h16M4 18h16"></path>
  </svg>
  <div
    class="hidden py-3 xl:py-0 w-full xl:flex xl:items-center xl:w-auto"
    id="menu"
  >
    <ul
      class="flex justify-evenly gap-2 text-sm flex-col lg:flex-row font-bold"
    >
      <If condition={!!DATA.schedules.length}>
        <li>
          <a
            href="/schedule#top"
            class="px-3 h-full w-full cursor-pointer grid place-content-center hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg"
            >Schedule</a
          >
        </li>
      </If>
      <If condition={!!DATA.speakers.length}>
        <li>
          <a
            href="/#speakers"
            class="px-3 h-full w-full cursor-pointer grid place-content-center hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg"
          >
            Speakers</a
          >
        </li>
      </If>
      <If condition={!!DATA.raffles.length}>
        <li>
          <a
            href="/raffles#top"
            class="px-3 h-full w-full cursor-pointer grid place-content-center hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg"
          >
            Sorteos</a
          >
        </li>
      </If>
      <If condition={!!DATA.faq.length}>
        <li>
          <a
            href="/#faq"
            class="px-3 h-full w-full cursor-pointer grid place-content-center hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg"
            >FAQ</a
          >
        </li>
      </If>
      <li
        class="cursor-pointer grid place-content-center hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg"
      >
        <button
          id="tickets-modal-trigger"
          class="text-white p-2 rounded-lg bg-green-600 hover:bg-green-400 dark:bg-blue-600 dark:hover:bg-blue-400 transition-colors"
        >
          Comprar entradas
        </button>
        <li class="grid place-content-center">
          <DarkModeToggleButton />
        </li>
      </li>
    </ul>

    <script>

function listenToTicketsModal() {
        const $ticketsModalWrapper = document.getElementById(
          "ticketsModalWrapper",
        );

        if (!$ticketsModalWrapper) {
          return;
        }

        const $ttWidget = document.createElement("div");
        $ttWidget.classList.add("tt-widget");

        const $ttWidgetFallback = document.createElement("div");
        $ttWidgetFallback.classList.add("tt-widget-fallback");

        $ttWidgetFallback.innerHTML = `
          <p>
            <a
              href="https://www.tickettailor.com/checkout/new-session/id/3521838/chk/44e1/?ref=website_widget&show_search_filter=true&show_date_filter=true&show_sort=true"
              target="_blank">Click here to buy tickets</a
            ><br /><small
              ><a
                href="https://www.tickettailor.com?rf=wdg_173163"
                class="tt-widget-powered"
                >Sell tickets online with Ticket Tailor</a
              ></small
            >
          </p>
        `;

        $ttWidget.appendChild($ttWidgetFallback);

        const ttWidgetScript = document.createElement("script");
        ttWidgetScript.src =
          "https://cdn.tickettailor.com/js/widgets/min/widget.js";
        ttWidgetScript.setAttribute(
          "data-url",
          "https://www.tickettailor.com/checkout/new-session/id/3521838/chk/44e1/?ref=website_widget&show_search_filter=true&show_date_filter=true&show_sort=true",
        );
        ttWidgetScript.setAttribute("data-type", "inline");
        ttWidgetScript.setAttribute("data-inline-minimal", "true");
        ttWidgetScript.setAttribute("data-inline-show-logo", "false");
        ttWidgetScript.setAttribute("data-inline-bg-fill", "true");
        ttWidgetScript.setAttribute(
          "data-inline-inherit-ref-from-url-param",
          "",
        );
        ttWidgetScript.setAttribute("data-inline-ref", "website_widget");

        $ttWidget.appendChild(ttWidgetScript);

        $ticketsModalWrapper.innerHTML = "";
        $ticketsModalWrapper.appendChild($ttWidget);

        const iframes = $ttWidget.querySelectorAll("iframe");
        ttWidgetScript.addEventListener("load", () => {
          
          iframes.forEach((iframe) => {
          iframe.style.height = "100%";
        })
          });

      }

      function init() {
        const button = document.querySelector("#menu-button"); // Hamburger Icon
        const menu = document.querySelector("#menu"); // Menu
        button?.addEventListener("click", () => {
          menu?.classList.toggle("hidden");
        });

        const ticketsModalTrigger = document.getElementById("tickets-modal-trigger");

        ticketsModalTrigger?.addEventListener("click", () => {
          const $ticketsModalWrapper = document.getElementById("ticketsModalWrapper");

          if (!$ticketsModalWrapper) {
            return;
          }

          listenToTicketsModal();
        });
      }

      init();

      document.addEventListener("astro:after-swap", () => init());
    </script>
  </div>
</nav>
