---
import type { Sponsor } from "../data/data.type";

interface Props {
  sponsor: Sponsor;
}

const { sponsor } = Astro.props;
---

<a
  transition:name={sponsor.name}
  href={sponsor.hasFeaturedPage ? `/sponsor/${sponsor.name}#top` : sponsor.url}
  class={`transition-all grid place-content-center hover:scale-105 duration-300 ease-in-out grayscale hover:grayscale-0`}
>
  <img
    loading="lazy"
    src={sponsor.picture}
    alt=`Logo of ${sponsor.name}`
    class:list={{
      "w-[400px] md:w-[500px]": sponsor.tier === "platinum",
      "w-[350px] md:w-[450px]": sponsor.tier === "gold",
      "w-[280px] md:w-[380px]": sponsor.tier === "silver",
      "w-[230px] md:w-[330px]": sponsor.tier === "bronze",
      "w-[200px] md:w-[300px]": sponsor.tier === "media",
      "w-[150px] md:w-[250px]":
        sponsor.tier === "food" ||
        sponsor.tier === "community" ||
        sponsor.tier === "supporter",
    }}
  />
</a>
