---
import AnimatedOnViewportEnter from "../../components/utils/AnimatedOnViewportEnter.astro";
import ScheduleComponent from "../../components/Schedule.astro";
import { DATA } from "../../data/data";
import Layout from "../../layouts/Layout.astro";
import Schedule from "../../components/Schedule.astro";

const hasSchedule = !!DATA.schedule.length;

if (!hasSchedule) {
  return Astro.redirect("/");
}
---

<Layout title="Horario" description="Horario del BiznagaFest 2023" lang="es">
  <main class="p-6">
    <section id="schedules">
      <div class="wrapper-x gap-16 flex flex-col">
        <AnimatedOnViewportEnter
          animation="animate__animated animate__fadeInLeft"
        >
          <h2 class="text-3xl font-bold text-center md:text-left">Schedule</h2>
        </AnimatedOnViewportEnter>
        <Schedule data={DATA.schedule} />
      </div>
    </section>
  </main>
</Layout>
